In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
# movies.head(1) # 1 shows 2 rows=> heading and avatar wli

In [4]:
# credits.head(1)['cast'].values[0]

In [5]:
movies = movies.merge(credits, on='title')
movies.shape
# title 2 baar thode hi ginenge

(4809, 23)

In [6]:
# movies.head(1)['genres'][0]
# or movies.iloc(0).genres
# isko aage access nhi kr skta filhal, since it is a 
# string object, and not an array object

In [7]:
# keeping these columns
# genres id keywords title overview cast crew

# ye simple project hai to numeric imp data exclude kr di
# bhai sahab, to note important

# important genres which we removed
# budget, popularity, release_date, revenue, vote_average,
# vote_count

In [8]:
# movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew' ]]
movies = movies.drop(['budget', 'popularity', 'id', 'release_date', 'homepage', 'original_language', 'original_title', 'production_companies', 'production_countries', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'vote_average', 'vote_count'], axis = 1)
movies.head(1)

,genres,keywords,overview,title,movie_id,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
movies.shape

(4809, 7)

In [10]:
# lets check null data
# movies.info() 
# here using info check all counts to notice or

movies.isnull().sum()

genres      0
keywords    0
overview    3
title       0
movie_id    0
cast        0
crew        0
dtype: int64

In [11]:
# duplicate data
movies.duplicated().sum()

0

# New DataFrame

It will have only 3 columns: movie-id, title, tags

tags column => [genres, keywords, overview, top 3 casts, 
            director]

In [12]:
movies.iloc[1].genres

'[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]'

we want to convert
'[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]'
to
['Action', 'Adventure', 'Fantasy'...]

We will achieve this by creating a helper function

In [13]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])

    return L

In [14]:
# But we have a problem since the genres data we have is
# in string format. So first, we will have to convert it to
# a list object.

In [15]:
movies['genres'] = movies['genres'].apply(convert)

In [16]:
print(type(movies['genres'][0]))

<class 'list'>

In [17]:
movies['keywords'] = movies['keywords'].apply(convert)

In [18]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [19]:
movies['cast'] = movies['cast'].apply(convert3)

In [20]:
movies.head()

,genres,keywords,overview,title,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,285,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,Spectre,206647,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,The Dark Knight Rises,49026,"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",John Carter,49529,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [21]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if (i['job'] == 'Director'):
            L.append(i['name'])
            break
    return L

In [22]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [23]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [24]:
# movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.overview = movies.overview.str.split()

In [25]:
# need to remove all spaces from names in cast and other
# fields if needed
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [26]:
movies.head()

,genres,keywords,overview,title,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,285,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,206647,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,49026,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,49529,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [38]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [39]:
# new_df = movies[['movie_id', 'title', 'tags']]
new_df = movies.drop(columns=['overview','genres','keywords','cast','crew']).copy()

In [40]:
new_df.head()

,title,movie_id,tags
0,Avatar,19995,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,Pirates of the Caribbean: At World's End,285,"[Captain, Barbossa,, long, believed, to, be, d..."
2,Spectre,206647,"[A, cryptic, message, from, Bond’s, past, send..."
3,The Dark Knight Rises,49026,"[Following, the, death, of, District, Attorney..."
4,John Carter,49529,"[John, Carter, is, a, war-weary,, former, mili..."

In [41]:
# lst = (new_df['tags'][0])
# print(lst)
# print("---------------------------------------------")
# print(' '.join(map(str, lst)))
# print("---------------------------------------------")

In [42]:
# j=0
# for i in new_df['tags']:
#     val = ' '.join(map(str, i))
#     j+=1
#     print(f"-----------------------------------{j}-----------------------------------")
#     print(val)

# 2662 tut rha hai?

new_df= new_df.drop(labels=range(2662,4809), axis=0)
# new_df= new_df.drop(labels=4147, axis=0)
# new_df= new_df.drop(labels=4435, axis=0)

In [43]:
# convert list of strings to a single string
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(map(str, x)))
# lower case
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [45]:
new_df.head()

,title,movie_id,tags
0,Avatar,19995,"in the 22nd century, a paraplegic marine is di..."
1,Pirates of the Caribbean: At World's End,285,"captain barbossa, long believed to be dead, ha..."
2,Spectre,206647,a cryptic message from bond’s past sends him o...
3,The Dark Knight Rises,49026,following the death of district attorney harve...
4,John Carter,49529,"john carter is a war-weary, former military ca..."

In [47]:
# # Text Vectorisation, Bag of Words
# from sklearn.feature_extraction.text import CountVectorizer
# cv = CountVectorizer(max_features=5000, stop_words='english')

In [51]:
# vectors = cv.fit_transform(new_df['tags']).toarray()
# vectors.shape

(2662, 5000)

In [55]:
# vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [58]:
# print(len(cv.get_feature_names_out()))
# print(cv.get_feature_names_out())

5000
['000' '007' '10' ... 'zone' 'zoo' 'zooeydeschanel']

In [ ]:
# stemming
# converting ['love', 'lovely', 'loves'] to ['love', 'love', 'love']
# It is done using nltk library

In [61]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [62]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [63]:
new_df['tags'] = new_df['tags'].apply(stem)

In [64]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [66]:
# Once again Text vectorization
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()
print(vectors.shape)
print(len(cv.get_feature_names_out()))

(2662, 5000)
5000

In [67]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zombies', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [68]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [71]:
similarity[0]

array([1.        , 0.07798129, 0.08385255, ..., 0.05345225, 0.08385255,
       0.08017837])

In [72]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)
    return

In [73]:
recommend('Avatar')

Aliens
Aliens vs Predator: Requiem
Independence Day
Titan A.E.
Predators

In [77]:
import pickle
pickle.dump(new_df, open('movies.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))